# Ignore node_modules in backend and frontend
Frontend/client/node_modules/

# Ignore environment files
Frontend/client/.env

# Ignore logs
*.log

# Ignore build output from React
Frontend/client/build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
