# Ignore node_modules in backend and frontend
Backend/node_modules/

# Ignore environment files
Backend/.env

# Ignore logs
*.log

# Ignore build output from React

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
